<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>
	<div layout:fragment="content" class="wrapper">
                <div class="row state-overview">
                    <div class="col-lg-6 col-sm-6">
                        <section class="panel purple">
                            <div class="symbol">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <div class="value white">
                                <h1 class="timer" data-from="0" data-to="320"
                                    data-speed="1000" th:text="${TOTALURL}">

                                </h1>
                                <p > Total Active URLs</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <section class="panel ">
                            <div class="symbol purple-color">
                                <i class="fa fa-th-large" aria-hidden="true"></i>
                            </div>
                            <div class="value gray">
                                <h1 class="purple-color timer" data-from="0" data-to="123"
                                    data-speed="1000" th:text="${TOTALMAIN}">
                                </h1>
                                <p> Total Main Category</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <section class="panel green">
                            <div class="symbol ">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                            </div>
                            <div class="value white">
                                <h1 class="timer" data-from="0" data-to="432"
                                    data-speed="1000" th:text="${TOTALSUB}">
                                </h1>
                                <p> Total Sub-Category</p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <section class="panel">
                            <div class="symbol green-color">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="value gray">
                                <h1 class="green-color timer" data-from="0" data-to="2345"
                                    data-speed="3000" th:text="${TOTALSEARCH}">
                                </h1>
                                <p> Today Searched ...</p>
                            </div>
                        </section>
                    </div>
                </div>
                <!--state overview end-->
    </div>
</body>
</html>