<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>URLs</title>
</head>
<body>
	<div layout:fragment="content" class="wrapper">
		<!-- header section end-->
		<div class="page-head">
			<div class="box-header with-border">
				<h3>URLs</h3>
			</div>
		</div>
		<hr/>
		<div class="page-head">
			<table style="width: 100%" id="tbl_action-search" border="0">
				<tr>
					<td width="">
						<div class="radio-inline">
							<input type="hidden" id="txt-check-pagination">
							<label>
								<input type="radio" name="opt-map" value="true" checked>
								Mapped
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="opt-map" value="false">
								Unmapped
							</label>
						</div>
						<a href="#" class="btn btn-round btn-success btn-sm" style="margin-left: 20px" id="btn-filter-map" ><i class="fa fa-search"></i>  &nbsp;&nbsp;Filter</a>
						<a href="#" class="btn btn-round btn-primary btn-sm" style="margin-left: 20px" id="btn-get-all-kw" ><i class="fa fa-search"></i>  &nbsp;&nbsp;Show All</a>
					</td>
				</tr>
			</table>
		</div>
		<div class="box-body" style="margin-bottom: 40px;">
			<table class="table table-bordered" id="kw-urls">
				<thead>
				<tr>
					<th>No</th>
					<th>Keywords</th>
					<th>Current Result</th>
					<th>Searched Amount</th>
					<th>Map</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody id="kw-data">

				</tbody>
			</table>
		</div>
		<script type="text/x-jquery-tmpl" id="kw-template-tmpl">
            {{each(i , kw) kws}}
				<tr>
					{{if pages.current_page ==1}}
						<td>${i+1}</td>
					{{else}}
						<td>${20*(pages.current_page-1)+i+1}</td>
					{{/if}}
					<td>${kw.keyword_name}</td>
					<td>${kw.total_result}</td>
					<td>${kw.total_traffic}</td>
					<td>
						{{if kw.mapped == true}}
							<span class="label label-success">Mapped</span>
						{{else}}
							<span class="label label-danger">Unmapped</span>
						{{/if}}
					</td>
					<td>
						{{if kw.mapped != true}}
							<a class="btn btn-round btn-success btn-sm" href="#" data-kwName=${kw.keyword_name} id="btn-map-kw"><i class="fa fa-fw fa-plus-square-o"></i> Map</a>
						{{/if}}
					</td>
				</tr>
				{{/each}}
		</script>
		<div id="loading">
			<!--<img th:src="@{/resources/front_files/img/spinner.gif}" alt="">-->
		</div>
		<div class="modal fade" id="KWMapModal">
			<!-- form start -->
			<form class="form-horizontal" id="KWMapForm" action="#" method="POST">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Mapping new keyword</h4>
						</div>
						<div class="modal-body">
							<div class="box-body">

								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#home">Map With Main Category</a></li>
									<li><a data-toggle="tab" href="#menu1">Map With Sub Category</a></li>
									<li><a data-toggle="tab" href="#menu2">Map With URL</a></li>
								</ul>

								<div class="tab-content">
									<div id="home" class="tab-pane fade in active">
										<input type="hidden" id="txt-keyword-passing">
										<h3>Mapping with Main Category</h3>
										<div class="form-group">
											<div class="col-sm-12" id="divMainCateMap">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default pull-left"
													data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" id="btn-map-MainCate">Add</button>
										</div>
									</div>
									<div id="menu1" class="tab-pane fade">
										<h3>Mapping with Sub Category</h3>
										<div class="form-group">
											<label class="col-sm-12">Main Category :</label>
											<div class="col-sm-12" id="divMainCateMap-to-sub">
											</div>
											<label class="col-sm-12">Sub Category :</label>
											<div class="col-sm-12" id="divSubCateMap">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default pull-left"
													data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary" id="btn-map-subCate">Add</button>
										</div>
									</div>
									<div id="menu2" class="tab-pane fade">
										<h3>Mapping with URLs</h3>
										<div class="form-group">
											<div class="col-sm-12" id="divURLMap">
												<label class="col-sm-12" style="padding-left: 0px">Please Input URL's ID :</label>
												<input type="text" class="form-control" id="txt-input-url-id" placeholder="Enter URL ID">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default pull-left"
													data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary" id="btn-map-URL">Add</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--End modal-body-->
					</div>
					<!--End modal-content-->
				</div>
				<!--End modal-dialog-->
			</form>
		</div>
	<div id="footer">
		<div id="pagination" style="text-align: center;"></div>
	</div>
	</div>


	<div layout:fragment="script">
		<script th:src="@{/resources/knongdai/js/admin-kword.js}"></script>
		<script th:src="@{/resources/knongdai/js/notification.js}"></script>
		<script type="text/javascript" th:src="@{/resources/front_files/js/jquery.bootpag.min.js}"></script>
	</div>
</body>
</html>