<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>URLs</title>
</head>
<body>
	<div layout:fragment="content" class="wrapper">
		<!-- header section end-->
		<div class="page-head">
			<div class="box-header with-border">
				<h3>URLs</h3>
			</div>
		</div>
		<hr/>
		<div class="page-head">
			<table style="width: 100%" id="tbl_action-search" border="0">
				<tr>
					<td colspan="4" id="td-sms">Let Filter Below ......</td>
				</tr>
				<tr>
					<td width="10%">
						<a href="#" class="btn btn-round btn-success btn-sm" id="btn-add-Url"><i class="fa fa-fw fa-plus-square-o"></i> Add URL</a>
					</td>
					<td width="30%">
						<input type="hidden" class="form-control" id="txt-id-search" placeholder="ID...">
						<input type="text" class="form-control" id="txt-title-search" placeholder="Title...">
					</td>
					<td width="70%" colspan="2">
						<a href="#" class="btn btn-round btn-success btn-sm" id="btn-title-search"><i class="fa fa-search"></i>  &nbsp;&nbsp;Search Title</a>
						<a href="#" class="btn btn-round btn-primary btn-sm" id="btn-get-allURL"><i class="fa fa-search"></i>  &nbsp;&nbsp;Show All </a>
						<label class="checkbox-inline">
							<input type="checkbox" id="chk-approval-search" value="option1">By Approval
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="chk-category-search" value="option2">By Category
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="chk-allConditon-search" value="option2">By All Conditon
						</label>
					</td>
				</tr>
				<tr id="tr-approval-search">
					<td width="10%">
					</td>
					<td width="30%" colspan="4">
						<div class="radio-inline">
							<label>
								<input type="radio" name="opt-Approval" value="true" checked>
								Approved
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="opt-Approval" value="false">
								Disapproved
							</label>
						</div>
						<a href="#" class="btn btn-round btn-success btn-sm" style="margin-left: 20px" id="btn-approval-search" ><i class="fa fa-search"></i>  &nbsp;&nbsp;Search Approval</a>
					</td>
				</tr>
				<tr id="tr-Category-search">
					<td width="10%">
						<!--<a href="#" class="btn btn-round btn-success btn-sm" id="btn-add-Url"><i class="fa fa-fw fa-plus-square-o"></i> Add URL</a>-->
					</td>

					<td width="30%" id="td-MainCate-Filter">
						<select class="form-control">
							<option>AA</option>
							<option>AA</option>
							<option>AA</option>
							<option>AA</option>
						</select>
					</td>
					<td width="30%" id="td-SubCate-Filter">
						<select class="form-control">
							<option>Please Choose Main Category...</option>
						</select>
					</td>
					<td width="30%">
						<a href="#" class="btn btn-round btn-success btn-sm" id="btn-category-search" ><i class="fa fa-search"></i>  &nbsp;&nbsp;Search Category</a>
					</td>
				</tr>
				<tr id="tr-search-allCondition">
					<td></td>
					<td colspan="3">
						<a href="#" class="btn btn-round btn-info btn-sm" id="btn-search-addCondition" ><i class="fa fa-search"></i>  &nbsp;&nbsp;Search All Condition</a>
					</td>
				</tr>
				<tr>
					<td width="10%">
					</td>
					<td width="30%">
					</td>
					<td width="30%">
					</td>
					<td width="30%">
					</td>
				</tr>
			</table>
		</div>
		<div class="box-body" style="margin-bottom: 40px;">
			<table class="table table-bordered" id="tbl-urls">
				<thead>
				<tr>
					<th>No</th>
					<th>Title</th>
					<th>Link</th>
					<th>Main Category</th>
					<th>Sub Category</th>
					<th>Approval</th>
					<th style="width: 115px">Action</th>
				</tr>
				</thead>
				<tbody id="url-data">

				</tbody>
			</table>
		</div>
		<script type="text/x-jquery-tmpl" id="url-template-tmpl">

			{{if pages.total_record <= 0 }}
            	<tr><td colspan="7" align="Center">There is no Url...</td></tr>
            {{else}}
            {{each(i , url) urls}}
				<tr>
					{{if pages.current_page ==1}}
						<td>${i+1}</td>
					{{else}}
						<td>${30*(pages.current_page-1)+i+1}</td>
					{{/if}}
					<td><a href="${url.link}" target="_blank">${url.title}</a></td>
					<td><a href="${url.link}" target="_blank">${url.link}</a></td>
					<td>${url.main_cate}</td>
					<td>${url.sub_cate}</td>
					<td>
						{{if url.approved != 0}}
							<button type="button" id="" data-id=${url.id}  data-status=0 class="btn btn-xs btn-success btnUpdateUrlStatus">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
						{{else}}
							<button type="button" id="" data-id=${url.id} data-status=1 class="btn btn-xs btn-danger btnUpdateUrlStatus">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						{{/if}}
                    </td>
					<td class="text-center">
						<a	href="#" id="btndetail" data-id=${id} data-mainCate="${url.main_cate}" data-subCate="${url.sub_cate}" class="btn btn-sm btn-info btn-detail-url">
							<i class="fa fa-info"></i>
						</a>
						<a 	th:href="#" id="btnupdate" data-id=${id} data-title="${url.title}" class="btn btn-sm btn-warning btn-update-url">
							<i class="fa fa-pencil"></i>
						</a>
						<a  href="#" id="btndelete" data-id=${id} class="btn btn-sm btn-danger btn-delete-url" >
							<i class="fa fa-trash"></i>
						</a>
					</td>
				</tr>
				{{/each}}
        	{{/if}}
		</script>

		<!--MODALs-->
		<!--MOdal Details-->
		<div class="modal fade" id="UrlDetailModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">URL Detail</h4>
					</div>

					<div class="modal-body">
						<div class="table-responsive">
							<table class="table">
								<tbody>
								<tr>
									<th class="col-sm-5">ID :</th>
									<td id="URLId_detail"></td>
								</tr>
								<tr>
									<th>Title :</th>
									<td id="title_detail"></td>
								</tr>
								<tr>
									<th>Main Category :</th>
									<td id="MainCate_detail"></td>
								</tr>
								<tr>
									<th>Sub Category :</th>
									<td id="SubCate_detail"></td>
								</tr>
								<tr>
									<th>URL Type :</th>
									<td id="link_url_type"></td>
								</tr>
								<tr>
									<th>Link :</th>
									<td id="Link_detail"></td>
								</tr>
								<tr>
									<th>Address :</th>
									<td id="Addr_detail"></td>
								</tr>
								<tr>
									<th>Tel :</th>
									<td id="Tel_detail"></td>
								</tr>
								<tr>
									<th>Email :</th>
									<td id="Email_detail"></td>
								</tr>
								<tr>
									<th>Description :</th>
									<td id="Desc_detail"></td>
								</tr>
								<tr>
									<th>View :</th>
									<td id="View_detail"></td>
								</tr>
								<tr>
									<th>Picture :</th>
									<td>
										<img src="" id="Pic_detail" class="img-responsive" alt="Responsive image">
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!--END of Modal Details-->

		<!--URL Update-->
		<div class="modal fade" id="URLUpdateModal">
			<form class="form-horizontal" id="URLUpdateForm" action="#" method="PUT">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">URL Update <span id="URL-title-span">UP</span></h4>
						</div>

						<div class="modal-body">
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-12">Title :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="txtTitle_Up" placeholder="Title...">
										<input type="hidden"  class="form-control" id="txtID_Up" placeholder="">
										<input type="hidden"  class="form-control" id="txtapproved" placeholder="">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Main Category :</label>
									<div class="col-sm-12" id="divMainCateUp">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Sub Category :</label>
									<div class="col-sm-12" id="divSubCateUp">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">URL Types:</label>
									<div class="col-sm-12" id="url-radio-up">
										<label class="radio-inline"><input type="radio" checked name="optradio-type-up" value="w">Website</label>
										<label class="radio-inline"><input type="radio" name="optradio-type-up" value="f">facebook page</label>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Link URL :</label>
									<div class="col-sm-12">
										<input type="text" required class="form-control" id="txtLink_Up" placeholder="URL...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Address :</label>
									<div class="col-sm-12">
										<input type="text" class="form-control" id="txtAddr_Up" placeholder="Address...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Tell :</label>
									<div class="col-sm-12">
										<input type="text"  class="form-control" id="txtTel_Up" placeholder="Phone...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Email :</label>
									<div class="col-sm-12">
										<input type="text"  class="form-control" id="txtEmail_Up" placeholder="Email...">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-12">Link Image URL :</label>
									<div class="col-sm-12">
										<input type="text"hjn class="form-control" id="txtimgURL_Up" placeholder="Link Image URL...">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-12">Description :</label>
									<div class="col-sm-12">
										<textarea class="form-control" rows="5" id="txtDesc_Up"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-12">Keyword :</label>
									<input id="URL_kw_up" type="text" class="tags tags-input" data-default="add keywords..." data-type="tags" disabled="true"/>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Update</button>
						</div>


					</div>
				</div>
			</form>
		</div>
		<!--URL END Update MODAL-->

		<!--Add URL MODAL-->
		<div class="modal fade" id="URLAddModal">
			<!-- form start -->
			<form class="form-horizontal" id="URLAddForm" action="#" method="POST">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">Add New URL</h4>
						</div>
						<div class="modal-body">
						<div class="box-body">
							<div class="form-group">
								<label class="col-sm-12">Title :</label>
								<div class="col-sm-12">
									<input type="text" required class="form-control" id="txtTitle_Add" placeholder="Title...">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12">Main Category :</label>
								<div class="col-sm-12" id="divMainCateAdd">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-12">Sub Category :</label>
								<div class="col-sm-12" id="divSubCateAdd">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-12">URL Types:</label>
								<div class="col-sm-12">
									<label class="radio-inline"><input type="radio" checked name="optradio-type" value="w">Website</label>
									<label class="radio-inline"><input type="radio" name="optradio-type" value="f">facebook page</label>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-12">Link URL :</label>
								<div class="col-sm-12">
									<input type="text"  class="form-control" id="txtLink_Add" placeholder="URL...">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-12">Address :</label>
								<div class="col-sm-12">
									<input type="text"  class="form-control" id="txtAddr_Add" placeholder="Address...">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-12">Tell :</label>
								<div class="col-sm-12">
									<input type="text"  class="form-control" id="txtTel_Add" placeholder="Phone...">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-12">Email :</label>
								<div class="col-sm-12">
									<input type="text"  class="form-control" id="txtEmail_Add" placeholder="Email...">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-12">Link Image URL :</label>
								<div class="col-sm-12">
									<input type="text"  class="form-control" id="txtimgURL_Add" placeholder="Link Image URL...">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12">Description :</label>
								<div class="col-sm-12">
									<textarea class="form-control" required rows="5" id="txtDesc_Add"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-12">Keyword :</label>
								<input id="URL_kw_Add" type="text" class="tags tags-input" data-default="add keywords..." data-type="tags" disabled="true"/>
							</div>
						</div>
						</div>
						<!--End modal-body-->

						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
									data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>

					</div>
					<!--End modal-content-->
				</div>
				<!--End modal-dialog-->
			</form>
		</div>
		<!--END of Add URL Modal-->

		<!--END OF MODALs-->
		<div id="loading">
			<!--<img th:src="@{/resources/front_files/img/spinner.gif}" alt="">-->
		</div>
	<div id="footer">
		<div id="pagination" style="text-align: center;"></div>
	</div>
	</div>


	<div layout:fragment="script">
		<script th:src="@{/resources/knongdai/js/admin-url.js}"></script>
		<script th:src="@{/resources/knongdai/js/notification.js}"></script>
		<script type="text/javascript" th:src="@{/resources/front_files/js/jquery.bootpag.min.js}"></script>
	</div>
</body>
</html>