#ul_menu,#ul_pro{
    padding: 0px;
}
#ul_menu>li,#ul_pro>li{
    display: inline-block;
}
#dt_img_logo{
    width: 100%;
    height: 100%;
}
#li_logo{
    width: 10%;
}
#li_txtSearch{
    width: 60%;
    text-align: center;
}
#li_profile{
   width: 50px;
}
#li_profile>div>img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
}
#li_pro{
    width: 25%;
    text-align: right;
}
.txtsearchdiv{
    width: 80%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 0px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    outline: none;
    border-radius: 5px;
}
.txtsearchdiv:focus{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 0 0 0px rgba(0,0,0,0.08) !important;
}
.marginZero{
    margin: 0px !important;
}
.oribg{
    background-color: #fbb03b !important;
    color: white !important;
}
.oriborder{
    border: 1px solid #fbb03b !important;
    border-right-color: #fbb03b !important;
}
.padding5x10{
   padding: 5px 10px !important;
}
.margin0x10px{
  margin: 0px 8px !important;
}
@media only screen and (max-width: 1130px){
    #li_pro{
        width: 20% !important;
    }
    #li_txtSearch{
        width: 65%;
    }
    body{
/*        background-color: yellow;*/
    }
}