<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ico/favicon.png">
    <title>knongdai.com - 400 Error</title>

    <!-- Base Styles -->
    <link th:href="@{/resources/admin/css/style.css}" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->


</head>

  <body class="body-404">

      <section class="error-wrapper">
          <i class="icon-500"></i>
          <div class="text-center">
              <h2 class="green-bg">Internal Server Error</h2>
          </div>
          <p>Something went wrong or that page doesn’t exist yet.</p>
          <a href="/" class="back-btn">Back to Home</a>
      </section>

  </body>
</html>
